<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
    <style>
        .header {
            background: #222;
            color: #fff;
            align: center;
        }

        .sidebar_row {
            margin-top: 2px;
        }
    </style>
</head>

<body>
    <div class="container">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group ">
                    <label for="w9_form">W9 Form</label>
                    <input type="file" class="form-control" id="w9_form" name="w9_form" multiple>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label for="driver_licence">Driver Licence Front</label>
                    <input type="file" class="form-control" id="driver_licence" multiple>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label for="driver_licence">Driver Licence Back</label>
                    <input type="file" class="form-control" id="driver_licence" multiple>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label for="reg_insurence">Registration of Insurence</label>
                    <input type="file" class="form-control" id="reg_insurence" multiple>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label for="authorization_form">RoadHero Authorization Form</label>
                    <input type="file" class="form-control" id="authorization_form" multiple>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group ">
                    <label for="background_check">Background Check</label>
                    <input type="file" class="form-control" id="background_check" multiple>
                </div>
            </div>
            </br>
            <button type="submit" class="btn btn-primary">Upload Documents</button>
        </form>
    </div>
</body>

</html>