{% extends 'index.html' %}
{% block head %}

{% endblock %}

{% block content %}
{% if error %}
<div>
    <p>{{error}}</p>
</div>
{% endif %}
<div class="container-fluid sidebar_row ">
    <br>
    <form method="POST">
        {% csrf_token %}
        <input type="text" class="form-control" id="request_id" name="request_id" aria-describedby="emailHelp"
            placeholder="{{data.request_id.id}}" value="{{data.request_id.id}}" hidden>
            {% if data.arrived != None %}
            <div class="form-group">
                <label for="eta">On Scene</label>
                <input type="text" class="form-control" id="eta" name="eta" placeholder="{{data.arrived}}"
                    value="{{data.arrived}}" readonly>
            </div>
            {% else %}
            </br>
            <div class="form-group">
                <label for="eta">On Scene</label>
                <input class="form-check-input" type="checkbox" value=true id="flexCheckChecked" name="arrived" checked>
            </div>
            </br>
            <button type="submit" class="btn btn-success">On Scene</button>
            {% endif %}
            {% if data.completed != None %}
            <div class="form-group">
                <label for="completed">Completed</label>
                <input type="text" class="form-control" id="completed" name="completed" placeholder="{{data.completed}}"
                    value="{{data.completed}}" readonly>
            </div>
            {% elif data.arrived == None and data.completed == None %}
            <div class="form-group">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" name="completed" hidden>
            </div>
            {% else %}
            </br>
            <div class="form-group">
                <label for="eta">Completed</label>
                <input class="form-check-input" type="checkbox" value="True" id="flexCheckChecked" name="completed" checked>
            </div>
            </br>
            <button type="submit" class="btn btn-success">Completed</button>
            {% endif %}
    </form>
    <hr>
    <p><b>Request ID &nbsp; : &nbsp;</b> #{{data.request_id.id}}</p>
    <p><b>Service &nbsp; : &nbsp;</b> {{data.request_id.service.name}}</p>
    <p><b>Service Price &nbsp; : &nbsp;</b> {{data.request_id.service.price}}</p>
    <p><b>Promo Code &nbsp; : &nbsp;</b> {{data.request_id.promo_code}}</p>
    <p><b>Service Note &nbsp; : &nbsp;</b> {{data.request_id.service_note}}</p>
    <p><b>Actual Price &nbsp; : &nbsp;</b> {{data.price}}</p>
    <hr>
    <p><b>Created At &nbsp; : &nbsp;</b> {{data.request_id.created_at}}</p>
    <p><b>ETA &nbsp; : &nbsp;</b> {{data.eta}}</p>
    {% if data.arrived %}
    <p><b>On Scene &nbsp; : &nbsp;</b> {{data.arrived}}</p>
    {% endif %}
    {% if data.arrived %}
    <p><b>Completed &nbsp; : &nbsp;</b> {{data.completed}}</p>
    {% endif %}
    <hr>
    {% if data.service.id == 4 %}
    <h4> Delivery Information</h4>
    <p><b>Delivery From &nbsp; : &nbsp;</b> {{data2.delivery_from}}</p>
    <p><b>Delivery To &nbsp; : &nbsp;</b> {{data2.delivery_to}}</p>
    <p><b>Delivery Details &nbsp; : &nbsp;</b> {{data2.details}}</p>
    {% else %}
    <h4>Vehicle Information</h4>
    <p><b>Model &nbsp; : &nbsp;</b> {{data.request_id.vehicle.name}} - {{data.request_id.vehicle.vehicle_company.name}}
    </p>
    <p><b>Year &nbsp; : &nbsp;</b> {{data.request_id.vehicle_year.year}}</p>
    <p><b>Color &nbsp; : &nbsp;</b> {{data.request_id.vehicle_color.name}}</p>
    {% endif %}
    <hr>
    <h4>Contact</h4>
    <p><b>RoadHero Driver &nbsp; : &nbsp;</b> {{data.vendor_id.first_name}} {{data.vendor.last_name}}</p>
    <p><b>Mobile &nbsp; : &nbsp;</b>
        <a href="tel:{{data.vendor_id.phone}}"> {{data.vendor_id.mobile}}</a>

    </p>
    <p><b>Email &nbsp; : &nbsp;</b> {{data.vendor_id.email}}</p>
    
</div>

{% endblock %}