{% extends 'index.html' %}
{% block head %}
<style>
    @import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

    .panel-pricing {
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        -webkit-transition: all .3s ease;
    }

    .panel-pricing:hover {
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    }

    .panel-pricing .panel-heading {
        padding: 20px 10px;
    }

    .panel-pricing .panel-heading .fa {
        margin-top: 10px;
        font-size: 58px;
    }

    .panel-pricing .list-group-item {
        color: #777777;
        border-bottom: 1px solid rgba(250, 250, 250, 0.5);
    }

    .panel-pricing .list-group-item:last-child {
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .panel-pricing .list-group-item:first-child {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .panel-pricing .panel-body {
        background-color: #f0f0f0;
        font-size: 40px;
        color: #777777;
        padding: 20px;
        margin: 0px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row">

    <!-- item -->
    <div class="col-md-4 col-sm-4 text-center">
        <div class="panel panel-danger panel-pricing">
            <div class="panel-heading">
                <i class="fa fa-car"></i>
                <h3>Vehicle</h3>
            </div>
            <div class="panel-body text-center">
                <p><strong>{{make}}</strong></p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-success" href="view_vehicle_make">View</a>
                <a class="btn btn-lg btn-block btn-warning" href="view_vehicle_make">Add</a>
            </div>
        </div>
    </div>
    <!-- /item -->

    <!-- item -->
    <div class="col-md-4 col-sm-4 text-center">
        <div class="panel panel-success panel-pricing">
            <div class="panel-heading">
                <i class="fa fa-car"></i>
                <h3>Vehicle Years</h3>
            </div>
            <div class="panel-body text-center">
                <p><strong>{{years}}</strong></p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-success" href="view_vehicle_years">View</a>
                <a class="btn btn-lg btn-block btn-warning" href="view_vehicle_years">Add</a>
            </div>
        </div>
    </div>
    <!-- /item -->
    <!-- item -->
    <div class="col-md-4 col-sm-4 text-center">
        <div class="panel panel-success panel-pricing">
            <div class="panel-heading">
                <i class="fa fa-car"></i>
                <h3>Vehicle Colors</h3>
            </div>
            <div class="panel-body text-center">
                <p><strong>{{colors}}</strong></p>
            </div>
            <div class="panel-footer">
                <a class="btn btn-lg btn-block btn-success" href="view_vehicle_colors">View</a>
                <a class="btn btn-lg btn-block btn-warning" href="view_vehicle_colors">Add</a>
            </div>
        </div>
    </div>
    <!-- /item -->

</div>
{% endblock %}